html,
body {
    font-size: 10px;
    background-color: #0e1218;
    color: aliceblue;
    font-family: 'Karla', sans-serif;
    margin-top: 1em;
}

#main-container {
    width: 55em;
    height: 55em;
    padding: 8em 8em;
    margin: auto auto;
    background-color: #1F2937;
}

#text-container {
    text-align: start;
}

#input-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    border-bottom: 1px solid #273549;
    padding-bottom: 4em;
}

#password-output-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 8em;
}

.password-container {
    background-color: #273549;
    width: 21em;
    height: 2em;
    font-weight: 300;
    border-radius: 3px;
    text-align: center;
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #4ADF86;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: -2.5%;
}

h2 {
    color: gray;
    font-size: 2em;
    font-weight: 300;
}

button {
    font-size: 2em;
    height: 2em;
    width: 16em;
    font-weight: 300;
    background-color: #4ADF86;
    border: 0px;
    border-radius: 3px;
    color: aliceblue;
    margin-left: 1em;
    margin-right: 1em;
}

#password-length {
    border: 0px;
    border-radius: 3px;
    width: 16em;
    height: 2em;
    font-weight: 300;
    font-size: 2em;
    background-color: #273549;
    text-align: center;
    color: aliceblue;
    margin-right: 1em;
    margin-left: 1em;
}

#checkbox-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4em;
    font-size: 1.5em;
}

#checkbox-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}